{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_topbar",
      "label": "Show Top Bar",
      "default": true
    },
    {
      "type": "checkbox", 
      "id": "sticky_header",
      "label": "Sticky Header",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "contact_info",
      "name": "Contact Information",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_contact",
          "label": "Show Contact Info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "use_theme_contact",
          "label": "Use Theme Contact Information",
          "default": true
        }
      ]
    },
    {
      "type": "announcement",
      "name": "Announcement Slide",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Announcement Text",
          "default": "Welcome to Summit. Fantastic theme! Beautifully designed"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    },
    {
      "type": "language_currency",
      "name": "Language & Currency",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_currency",
          "label": "Show Currency Selector",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_language", 
          "label": "Show Language Selector",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "blocks": [
        {
          "type": "contact_info"
        },
        {
          "type": "announcement",
          "settings": {
            "text": "Welcome to Summit"
          }
        },
        {
          "type": "announcement",
          "settings": {
            "text": "Elevate Your Tech. Empower Your World",
            "button_text": "Shop Now"
          }
        },
        {
          "type": "language_currency"
        }
      ]
    }
  ]
}
{% endschema %}

{% if section.settings.show_topbar %}
<div class="tf-top-bar bg_dark line {% if section.settings.sticky_header %}is-sticky{% endif %}">
  <div class="px_15 lg-px_40">
    <div class="tf-top-bar_wrap grid-3 gap-30 align-items-center">
      
      {% comment %}Contact Information Block using Theme Settings{% endcomment %}
      {% for block in section.blocks %}
        {% if block.type == 'contact_info' and block.settings.show_contact %}
          <div class="tf-top-bar_left" {{ block.shopify_attributes }}>
            <div class="d-flex gap-30 text_white fw-5">
              {% if block.settings.use_theme_contact %}
                {% if settings.phone_number != blank %}
                  <span>{{ settings.phone_number }}</span>
                {% endif %}
                {% if settings.email != blank %}
                  <span>{{ settings.email }}</span>
                {% endif %}
              {% else %}
                {% if block.settings.phone != blank %}
                  <span>{{ block.settings.phone }}</span>
                {% endif %}
                {% if block.settings.email != blank %}
                  <span>{{ block.settings.email }}</span>
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}

      {% comment %}Announcements Slider Block{% endcomment %}
      <div class="text-center overflow-hidden">
        <div dir="ltr" class="swiper tf-sw-top_bar" data-preview="1" data-space="0" data-loop="true" data-speed="1000" data-delay="2000">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% if block.type == 'announcement' %}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                  <p class="top-bar-text fw-5 text_white">
                    {{ block.settings.text }}
                    {% if block.settings.button_text != blank and block.settings.button_url != blank %}
                      <a href="{{ block.settings.button_url }}" title="{{ block.settings.button_text }}" class="tf-btn btn-line">
                        {{ block.settings.button_text }}<i class="icon icon-arrow1-top-left"></i>
                      </a>
                    {% endif %}
                  </p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      {% comment %}Language & Currency Block{% endcomment %}
      {% for block in section.blocks %}
        {% if block.type == 'language_currency' %}
          <div class="top-bar-language tf-cur justify-content-end" {{ block.shopify_attributes }}>
            {% if block.settings.show_currency %}
              <div class="tf-currencies">
                {% form 'currency' %}
                  <select class="image-select center style-default type-currencies color-white">
                    {% for currency in shop.enabled_currencies %}
                      <option value="{{ currency.iso_code }}"
                              {% if currency.iso_code == cart.currency.iso_code %}selected="selected"{% endif %}
                              data-thumbnail="{{ currency.iso_code | downcase | append: '.svg' | asset_url }}">
                        {{ currency.iso_code }} <span>{{ currency.symbol }} | {{ currency.name }}</span>
                      </option>
                    {% endfor %}
                  </select>
                {% endform %}
              </div>
            {% endif %}

            {% if block.settings.show_language %}
              <div class="tf-languages">
                {% form 'localization' %}
                  <select class="image-select center style-default type-languages color-white">
                    {% for locale in shop.published_locales %}
                      <option value="{{ locale.iso_code }}"
                              {% if locale.iso_code == shop.locale %}selected="selected"{% endif %}>
                        {{ locale.endonym_name }}
                      </option>
                    {% endfor %}
                  </select>
                {% endform %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}